{
   project =
   {
      description="📋 A Todo list manager for shell environments";
      domain="github";
      name="mulle-todo";
      username="mulle-sde";
      reponame="mulle-todo";
      homepage="https://github.com/mulle-sde/mulle-todo";
      license="BSD-3-Clause";
      version="0.2.0"
   };
}
