name: Build and Release

on:
  push:
    tags:
      - '*'
  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Install mulle-bashfunctions
      run: |
        curl -L 'https://github.com/mulle-nat/mulle-bashfunctions/archive/latest.tar.gz' | tar xfz -
        cd mulle-bashfunctions-latest
        sudo ./bin/installer /usr/local
    
    - name: Build mulle-todo
      run: make
    
    - name: Upload Release Asset
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: mulle-todo
